<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Lista de funcionários
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngIf="!cadastros.length">
      <ion-item *ngFor="let item of [0, 1, 2]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item-sliding *ngFor="let cadastro of cadastros">
        <ion-item button [routerLink]="['/cadastro-funcionario', cadastro.id]">
          <ion-avatar slot="start">
            <img [src]="cadastro.foto">
          </ion-avatar>
  
          <ion-label>
            {{ cadastro.nome }}
            <p>{{ cadastro.email }}</p>
            <p>{{ cadastro.createdAt | date: 'short' }}</p>
          </ion-label>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="delete(cadastro.id)">
            <ion-icon slot="top" name="trash"></ion-icon>
            Excluir
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button routerLink="/cadastro-funcionario" expand="block"><ion-icon name="checkmark"></ion-icon>&nbsp;Cadastrar</ion-button>
          </ion-col>

          <ion-col size="6">
            <ion-button (click)="logout()" color="danger" expand="block"><ion-icon name="exit"></ion-icon>&nbsp;Sair</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  